---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/cards/feature-01.svg'
import feature02 from '../../../assets/cards/feature-02.svg'
import feature03 from '../../../assets/cards/feature-03.svg'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">
				Shaping a future where technology drives <strong>success</strong> and <strong>innovation</strong>
			</h2>
			<p class="pb-0 text-lg">
				Thuuba Digital Indonesia is a pioneering software development company dedicated to driving digital 
				transformation for businesses and organizations. We specialize in delivering cutting-edge applications 
				and tailored digital solutions that empower our clients to excel in an ever-evolving digital landscape.
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Client-Centric Approach"
				subtitle="We prioritize your goals, delivering solutions that align with your vision and business objectives."
				image={feature02}
				link=""
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Innovation-Driven"
				subtitle="Staying ahead of the curve is our mantra, ensuring our clients benefit from the latest technological advancements."
				image={feature02}
				link=""
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Expert Team"
				subtitle="Our team consists of passionate software engineers and digital creators who bring a wealth of experience and creativity to every project."
				image={feature04}
				link=""
			/>
		</Col>
	</Row>
</Section>
