---
// Basic Cards grid Section
// ------------
// Description: A grid of cards with basic contact information in a 4 column layout.
// Properties:
// - classes: Additional classes to be added to the Section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/BasicCard.astro'

// 	Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Section id="requests" classes={classes}>
	<Row>
		<!-- <Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-balance">Have a Special Request? We’re Here to <strong>Help!</strong></h2>
			<p class="pb-0 text-lg">
				Choose from one of the options below to get the specific help you need. Whether it's
				customer support, sales inquiries, feature requests, or general feedback, we're here to
				provide you with the best assistance possible.
			</p>
		</Col> -->
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">
				Shaping a future where technology drives <strong>success</strong> and <strong>innovation</strong>
			</h2>
			<p class="pb-0 text-lg">
				Thuuba Digital Indonesia is a pioneering software development company dedicated to driving digital 
				transformation for businesses and organizations. We specialize in delivering cutting-edge applications 
				and tailored digital solutions that empower our clients to excel in an ever-evolving digital landscape.
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="3">
			<Card
				title="Client-Centric Approach"
				subtitle="We prioritize your goals, delivering solutions that align with your vision and business objectives."
				icon="rocket"
				classes="text-center dark:!bg-neutral-800/50"
			/>
		</Col>
		<Col span="3">
			<Card
				title="Innovation-Driven"
				subtitle="Staying ahead of the curve is our mantra, ensuring our clients benefit from the latest technological advancements."
				icon="document-text"
				classes="text-center dark:!bg-neutral-800/50"
			/>
		</Col>
		<Col span="3">
			<Card
				title="Expert Team"
				subtitle="Our team consists of passionate software engineers and digital creators who bring a wealth of experience and creativity to every project."
				icon="bolt"
				classes="text-center dark:!bg-neutral-800/50"
				link="/contact"
			/>
		</Col>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title="General Feedback"
				subtitle="Your feedback is invaluable to us. Let us know how we’re doing and how we can improve. "
				icon="chat-bubble-left-ellipsis"
				classes="text-center dark:!bg-neutral-800/50"
				link="/contact"
			/>
		</Col>
	</Row>
</Section>
