---
// Basic Dark Call To Action section
// ------------
// Description: A centered call to action section that contains: a title, text, background image, notification and a button.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import CTA from '../../ui/CTA.astro'
import Button from '../../ui/Button.astro'
import ChipNotification from '../../ui/ChipNotification.astro'
import { Image } from 'astro:assets'
import Highlight from '../../ui/Highlight.astro'

// Content
import ctaImage from '../../../assets/cta-dark-bg.webp'
import { configData } from '../../../config/config'
import badge from '../../../assets/badge.svg'
---

<Section>
	<Row>
		<Col span="1" />
		<Col span="10">
			<CTA
				title="Empower Your Vision – Start Your Digital Journey with Us"
				text="Discover why thousands of business trust us. Get started today and see the difference for yourself and your business!"
				mode="dark"
				bg={ctaImage}
			>
				<!-- <ChipNotification radius="rounded-full" classes="mb-6 box">
					<Image src={badge} alt="Product of the Year" class="h-12 w-12" slot="button" />
					#1 Product of the Year, <Highlight classes="ml-2">Product Hunt</Highlight>
				</ChipNotification> -->
				<!-- <Button size="lg" style="primary"> Book a Consultation Today! </Button> -->
				<Button size="lg" link={configData.consultationLink}>Book a Consultation Today!</Button>
			</CTA>
			<Col span="1" />
		</Col>
	</Row>
</Section>
